.container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  color: white;
}

.nav {
  padding-top: 20px;
  align-items: center;
  display: flex;
  margin: auto;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: space-around;
  width: 80%;
}

.area {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 100;
  background-color: #111724;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
