.btnsection{
 @apply mx-1 my-3 bg-gray-50 text-gray-500 px-5 py-2 rounded-lg
}

.section{
    @apply flex
}

/* เพิ่มส่วนนี้ในไฟล์ index.module.css หรือส่วน CSS ของคุณ */
.status-รอ {
    background-color: #008cba;
  }
  
  .status-ดำเนินการ {
    background-color: #f4d03f;
  }
  
  .status-เสร็จสิ้น {
    background-color: #4caf50;
  }
  
  .status-คืนบางส่วน {
    background-color: #e67e22;
  }
  
  .status-ประมาลผล {
    background-color: #e67e22;
  }
  
  .status-ยกเลิก {
    background-color: #f44336;
  }
  